:root {
  --clr1: rgb(80, 121, 162);
  --clr2: rgb(23, 112, 202);

  --clr1bg: rgb(149, 166, 155);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(206, 215, 233);
  --clr2bg-light: rgb(103, 150, 238);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 